    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar justify-content-end m-3">
        <a href="{% url 'blog:create_post' %}" class="btn btn-outline-secondary mx-3">
            <i class="fa-regular fa-square-plus"></i>
        </a>
        <form method="post" action="{% url 'blog:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary">
                <i class="fa-solid fa-right-from-bracket"></i>
            </button>
            
        </form>
    </nav>
    <div class="container p-3">
        {% if user.is_authenticated %}
            <h1 class="h2">Bienvenido {{ user.first_name }}</h1>
            <section class="posts p-2">
                {% if posts %}
                    <ul>
                        {% for post in posts %}
                            <div>
                                <h3>{{ post.titulo }}</h3>
                                <div>{{ post.contenido }}</div>
                                {% for comentario in post.comentarios.all %}
                                    <h4>Comentarios:</h4>
                                            <strong>{{ comentario.author.first_name }}</strong>: {{ comentario.texto }}
                                            <br><small>{{ comentario.fecha_creacion }}</small>
                                    {% empty %}
                                    <p>No hay comentarios aún.</p>
                                {% endfor %}
                                <form method="post" class="mt-2">
                                    {% csrf_token %}
                                    {{ forms.post.id.as_p }}
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    {{ forms.post.id.texto }}
                                    <textarea name="texto" class="form-control mb-2" placeholder="Escribe tu comentario aquí..."></textarea>
                                    <button type="submit" class="btn btn-sm btn-outline-primary">Comentar</button>
                                </form>
                        
                            </div>
                            {% endfor %}
                    </ul>
                {% else %}
                    <p>
                        No fue posible obtener posts, puede ser que no se encuentre ninguno en existencia!.
                    </p>
                    <p>
                        Favor de crear un nuevo post.
                    </p>
                {% endif %}                
            </section>
        {% else %}
            <p>Favor de iniciar sesion!.</p>
        {% endif %}
    </div>

</body>
</html>