<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container mt-5" style="max-width: 440px;">
        <div class="card p-4 shadow">
            <h1 class="h3 mb-3 text-center">Iniciar Sesion</h1>
            <form method="POST" action="{% url 'blog:login' %}" class="form needs-validation" novalidate>
                {% csrf_token %} 
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Iniciar Sesion</button>
            </form>
            <p class="mt-3 text-center">¿No tienes una cuenta?<a class="text-decoration-none" href="{% url 'blog:register' %}"> Registrate aqui </a></p>
    
            {% if error %}
                <div class="alert alert-danger mt-3">
                    {{ error }}
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>